/* Основні стилі для тіла сторінки */
body {
    font-family: Roboto, sans-serif;
    /* Шрифт для тіла */
    color: #434455;
    /* Основний колір тексту */
    background-color: #FFFFFF;
    /* Колір фону */
}
/* Стилі для h3*/
h3 {
    font-family: Roboto, sans-serif;
    /* Шрифт */
    font-size: 18px;
    /* Розмір шрифту */
    font-weight: 500;
    /* Товщина шрифту */
    line-height: 1.11;
    /* Висота рядка */
    letter-spacing: 0.03em;
    /* Відстань між літерами */
    color: #2E2F42;
    /* Колір тексту */
}
/*скид для списків */
ul,ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
/* колір абзаців */
p {
    color: #434455;
    /* Колір тексту */
}
/*маржин=0 заголовків*/
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
/* хедер */
header {
    box-sizing: border-box;
    border-bottom: 1px solid #e7e9fc;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;

}
.menu-link.link.current{
position: relative;
}
.menu-link.link.current::after{
content: "";
width: 100%;
height: 4px;
position: absolute;
left: 0;
bottom: -1px;
background-color: #404BBF;
border-radius: 2px;
}
/*головна сторінка*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
/*хедер контейнер*/
.header-container {
    display: flex;
    justify-content: space-between;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
}
/*навігація */
.page-navigation {
    display: flex;
    align-items: center;  
}
/* Стилі для логотипу */
.logotype {
    font-family: Raleway, sans-serif;
    /* Шрифт логотипу */
    font-size: 18px;
    /* Розмір шрифту */
    font-weight: 700;
    /* Товщина шрифту */
    line-height: 1.17;
    /* Висота рядка */
    letter-spacing: 0.03em;
    /* Відстань між літерами */
    text-transform: uppercase;
    /* Усі літери великі */
    color: #4d5ae5;
    /* Колір логотипу */
    margin-right: 76px;
}
/* Стилі для посилань */
.link {
    text-decoration: none;
    /* Вимкнення підкреслення */
    line-height: 1.5;
    /* Висота рядка */
    letter-spacing: 0.02em;
    /* Відстань між літерами */
    color: #434455;
    /* Колір тексту */
    display: inline-block;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}/* посилання */
.menu-link {
    font-size: 16px;
    /* Розмір шрифту */
    font-weight: 500;
    /* Товщина шрифту */
    line-height: 1.5;
    /* Висота рядка */
    letter-spacing: 0.02em;
    /* Відстань між літерами */
    color: #2e2f42;
    /* Колір тексту */
    padding: 24px 0;
    /* Відступи зверху знизу 24px, зліва справа 0px */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стилі для логотипу (ікони) */
.span-logo,
.span-logo-web {
    font-family: 'Raleway', sans-serif;
    /* Шрифт */
    font-size: 18px;
    /* Розмір шрифту */
    font-style: normal;
    /* Нормальний стиль */
    font-weight: 700;
    /* Товщина шрифту */
    line-height: 1.11;
    /* Висота рядка */
    letter-spacing: 0.03em;
    /* Відстань між літерами */
    text-transform: uppercase;
    /* Усі літери великі */

}
.span-logo-web {
    color: #4D5AE5;
}
.span-logo {
    color: #2e2f42;
    /* Колір тексту */
}
/* */
.menu {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Скидання стилю для списків */
.list{
    list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        transition: color 250ms cubic-bezier(0.4, 0,  0.2,  1);
}
/* */
.menu-item {
    list-style-type: none;
    /* Відступ між пунктами меню */
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* */
.menu-item:last-child{
    margin-right: 0;
}

/* Стилі для посилань при наведенні та фокусі */
.link:hover,
.link:focus,.menu-link.link.current {
    color: #404bbf;
    /* Зміна кольору при наведенні або фокусі */
}
/* котактна інформація*/
.contact_info {
    
 font-style: normal;
  /* Нормальний стиль шрифту */
  line-height: 1.5;
 /* Висота рядка */
 letter-spacing: 0.02em;
 /* Відстань між літерами */
 color: #434455;
 /* Колір тексту */
    display: flex;
}
.contact_info li {
    margin-right: 40px; 
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact_info li:last-child {
    margin-right: 0;
}
/* Стилі для першої секції */
.main_section {
    background-color: #2e2f42;
    /* Фон секції */
    background-image:linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 188px 0;
    /*
    */
}
/* контейнер хедера 1,2,3,4 секцій футера*/
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
.footer-container{
    align-items: baseline;
    margin-right: 120px;
}
/* Стилі для заголовка */
.section_title {
    font-size: 56px;
    /* Розмір шрифту */
    line-height: 1.07;
    /* Висота рядка */
    text-align: center;
    /* Вирівнювання тексту по центру */
    letter-spacing: 0.02em;
    /* Відстань між літерами */
    color: #ffffff;
    /* Колір тексту */
    max-width: 496px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
}
/* Стилі для кнопки */
.cta_button {
    background-color: #4D5AE5;
    /* Колір фону кнопки */
    font-family: "Roboto", sans-serif;
    /* Шрифт кнопки */
    font-weight: 500;
    /* Жирність шрифту */
    font-size: 16px;
    /* Розмір шрифту */
    line-height: 1.5;
    /* Висота рядка */
    letter-spacing: 0.04em;
    /* Відстань між літерами */
    color: #ffffff;
    /* Колір тексту в кнопці */
    cursor: pointer;
    /* Стиль курсору */
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button {
    cursor: pointer;
    /* Курсор при наведенні на кнопку */
}
/* Зміни кольору кнопки при наведені та фокусі */
.cta_button:hover,
.cta_button:focus {
    background-color: #404BBF;
    /* Зміна кольору фону при наведенні та фокусі */
}
/*друга секція */
.second-section {
 padding: 120px 0;
}
 /*скритий заголовок */
.visually-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0, 0, 0, 0);
       overflow: hidden;
}
.icons{
    background-color: #F4F4FD;
    width: 264px;
    height: 112px;
    border-radius: 4px;
text-align: center;
padding: 24px 32px;
    border: 1px solid #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
 /* друга секція список */
   /* */
.benefits-list {
    display: flex;
    gap:24px;
}
 /* li друга секція */
.benefits-item {
    width: calc((100% - 72px) / 4);
}
 /* Стилі h3 другої секції */
.benefits-title {
    font-weight: 500;
     /* Жирність шрифту */
    font-size: 20px;
     /* Розмір шрифту */
    line-height: 1.2;
     /* Висота рядка */
    letter-spacing: 0.02em;
     /* Відстань між літерами */
    color: #2e2f42;
     /* Колір тексту */
    margin-bottom: 8px;
}
 /* Стилі р другої секції */
.benefits-description {
    font-size: 16px;
     /* Розмір шрифту */
    line-height: 1.5;
     /* Висота рядка */
    letter-spacing: 0.02em;
     /* Відстань між літерами */
color: #434455;
     /* Колір тексту */
}
/* третя і четверта Секція */
.fourth-section {
    padding: 120px 0;
}
/*третя секція колір фону*/
.third{
    background-color: #F4F4FD;
}
/* Заголовок 3 і 4 секції */
.section-title {
    font-size: 36px;
    /* Розмір шрифту */
    line-height: 1.11;
    /* Простір між рядками */
    text-align: center;
    /* Вирівнювання тексту по центру */
    letter-spacing: 0.02em;
    /* Відстань між літерами */
    text-transform: capitalize;
    /* Текст із великої літери */
    color: #2e2f42;
    /* Колір тексту */
    margin-bottom: 72px;
}
/*  третя секція список*/
.team-list {
    gap: 24px;
}
/* Пункт списку в 3 секції */
.team-item {
    background-color: #FFFFFF;
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
/*картинки*/
img {
    display: block;
    width: 100%;
    height: 260px;
    object-fit: cover;
}
/* 3 секція список соцмереж*/
.social-media-list{
display: flex;
justify-content: center;
gap: 24px;
}
/* 3 секція лішка списка соцмереж*/
.social-network-item{
    width: 40px;
    height: 40px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*значок посилання трейдингу 3 секція*/
.traling-icon{
width: 100%;
height: 100%;
background-color:#4d5ae5;
border-radius:50%;
display: flex;
align-items: center;
justify-content: center;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.traling-icon:hover,
.traling-icon:focus{
    background-color: #404bbf;
}
.ellipse {
    fill: #FFFFFF;
}
/* контейнер третьої секції*/
.team-info{
padding: 32px 0;
}
/* Заголовок пункту списку 
3 і 4 секції*/
.team-item-title {
    font-weight: 500;
    /* Жирність шрифту */
    font-size: 20px;
    /* Розмір шрифту */
    line-height: 1.2;
    /* Простір між рядками */
    letter-spacing: 0.02em;
    /* Відстань між літерами */
    color: #2e2f42;
    /* Колір тексту */
    margin-bottom: 8px;
    text-align: center;
}
/* Параграф у пункті списку
3 і 4 секціїї */
.team-item-text {
    font-size: 16px;
    /* Розмір шрифту */
    line-height: 1.5;
    /* Простір між рядками */
    letter-spacing: 0.02em;
    /* Відстань між літерами */
    color: #434455;
    /* Колір тексту */
    text-align: center;
} 
/*  четверта секція список*/
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-list{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0%);
}
/* контейнер четвертої секції*/
.portfolio-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top:none ;
}
/*дів контейнер */
.box {
    position: relative;
    overflow: hidden;
}
.box-paragraph
{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fourth-team-item-title{
font-weight: 500;
    /* Жирність шрифту */
    font-size: 20px;
    /* Розмір шрифту */
    line-height: 1.2;
    /* Простір між рядками */
    letter-spacing: 0.02em;
    /* Відстань між літерами */
    color: #2e2f42;
    /* Колір тексту */
    margin-bottom: 8px;
}
.fourth-team-item-text{
font-size: 16px;
    /* Розмір шрифту */
    line-height: 1.5;
    /* Простір між рядками */
    letter-spacing: 0.02em;
    /* Відстань між літерами */
    color: #434455;
    /* Колір тексту */
}
/* лі в 4 секції */ 
.portfolio-item{ 
width: calc((100% - 48px) / 3);
flex-wrap: wrap;
gap: 48px 24px;
border-radius: 0px 0px 4px 4px;
transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover{
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-item:hover .box-paragraph{
    transform: translateY(0%);
}
/*футер*/
.footer_section {
    background-color: #2e2f42;
    /* Колір фону футера */
    padding: 100px 0
}
/*logo у футері */
.logotype-link {
    margin-bottom: 16px;
    text-decoration: none;
    line-height: 1.5;
    /* Висота рядка */
    letter-spacing: 0.02em;
    /* Відстань між літерами */
    color: #434455;
    /* Колір тексту */
    display: inline-block;
}

/* Колір span в футері */
.footer-span {
color: #f4f4fd;
}
/* абзац футера*/
.footer_paragraph {
    line-height: 1.5;
    /* Висота рядка */
    color: var(--text-color, #F4F4FD);
    /* Колір тексту, використовуючи CSS змінну */
    letter-spacing: 0.02em;
    /* Відстань між літерами */
    min-width: 264px; 
max-width: 264px;
}

.social-media-paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.container.footer-container{
    margin-right: 120px

}
.social-media-list{
display: flex;
gap: 24px;

}
.social-network-item{
width: 40px;
height: 40px;

}
.traling-icon-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .traling-icon-footer:focus,.traling-icon-footer:hover{
    background-color: #31d0aa;
}

.footer_section .container{
    display: flex;
    align-items: baseline;
}
.icon-icon-send{
    fill: #FFFFFF;
}
.social-media-list-footer {
    display: flex;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-footer{
    margin-right: 80px;
}
.form {
    display: flex;
    gap:24px;
    border: 1px solid #212121;
    max-width: 300px;
}
.form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.form-input {
width: 264px;
height: 40px;
border: 1px solid #ffffff;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;

}
::placeholder{
    color: #ffffff;
}

.form-label {
    display: flex;
    flex-direction: column;
}
.icon-icon-send{
    margin-left: 16px;
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;*/
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 408px;
min-height: 584px;
background: #fcfcfc;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
padding: 72px 24px 24px 24px;
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-exit{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-exit:hover,.button-exit:focus{
    background-color: #404bbf;
    border: none;
}
.icon-close-black{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-exit:hover svg,
.button-exit:focus svg{
    fill: #ffffff;
}
.fill{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color, #2E2F42);
    margin-bottom: 16px;
}
.div-form-name{
    margin-bottom: 8px;
}
.label-name{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-color, #8e8f99);
    display: block;
    margin-bottom: 4px;
    
}
.div-form{
    position: relative;
}
.input-field{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
input:focus{
    border-color: #4D5AE5;

}
.icon-modal{
    position: absolute;
    left: 16px;
    top:50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
:root {
--focus-icon-color: #4D5AE5;
}

 /* Стиль для SVG-іконки */
.icon-modal {
    fill: currentColor;
     /* Налаштування іконки на поточний колір (color) */
}

 /* Зміна кольору іконки при фокусі на input */
.input-field[type="text"]:focus+svg.icon-modal {
    color: var(--focus-icon-color);
     /* Застосовуємо колір при фокусі */
}
.comment{
    margin-bottom: 16px
}
.user-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
input:focus, svg:focus{
    fill:#4D5AE5; 
}
.user-comment:focus{
    border-color: #4D5AE5;
}
.policy-div{
    margin-bottom: 24px;
}
.user-privacy-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-color,#8e8f99);

}
.user-privacy-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}
:root {
    --background-color: #404bbf;
    --icon-fill: #F4F4FD;
}
input:checked+label>span {
    background-color: var(--background-color);
    /* фон для span */
    border: none;
    /* вимикає бордер */
    fill: var(--icon-fill);
    /* колір для іконки */
}
.privacy-policy-a{
    color: var(--text-color, #4d5ae5);
}
.send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
background-color: #4D5AE5;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
}